/*This is a comment. Comments are not displayed in the browser*/

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Verdana;
}

/* Hintergrund */
.parallax {
  background-image: url("../images/unsplash_bg.jpg");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 1200px;
}

.container {
  transform: translateZ()
  margin: 20px;
}

header {
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-areas: 
    "personal nav";
  column-gap: 10vw;
  margin: 20px 20px 0 20px;
}

/* Navigationbar */
nav {
  align-self: end;
}

ul {
  background-color:rgb(128, 195, 204);
  text-align: center;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

ul > li {
  list-style-type:none;
  padding: 10px;
}

nav > ul > li > a {
  text-decoration: none;
  padding: 10px;
}

/* Profilbild und Name */
.personal {

}

.profilbild {
  grid-area: profilepicture;
  width: 140px;
  height: auto;
}

.name {
  text-align: center;
}

