/*This is a comment. Comments are not displayed in the browser*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(102, 102, 102);
}

header {
  margin: 30px 8vw 0 8vw;
}

main {
  margin: 4vw 8vw 0 8vw;
}

header > .header_content {
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-areas: 
    "personal nav";
  column-gap: 8vw;
  height: 180px;
}

/* Profilbild und Name */
.personal {
  display: flex;
  flex-direction: column;
}

.profilbild {
  width: 140px;
  height: auto;
  /* box-shadow: 10px 10px 5px grey; */
  border-radius: 50%;
  border-color: black;
  cursor: pointer;
}

.shadow_box {
  position: absolute;
  width: 138px;
  height: 138px;
  background-color: black;
  margin: 1px 0 0 1px;
  z-index: -1;
  border-radius: 50%;
  animation: pulse 1.4s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 251, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 10px 15px rgba(255, 255, 255, 0);
  }
}

.name {
  text-align: center;
  margin: 10px 0 6px 0;
  font-weight: 600;
  color:#222222;
  font-size: 18px;
}

/* Navigationbar */
nav.navbar {
  display: grid;
  /* align-self: end; */
  border-radius: 4px;
  height: 30px;
  align-items: center;
  align-self: end;
  margin-bottom: 3px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

ul > li {
  /* Löscht die Listenpunkte & Aufzählungen */
  list-style-type: none;
}

ul > li:hover {
  border: solid;
  overflow: hidden;
}

nav.navbar > ul > li > a {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding: 0;
  color: #222222;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

nav.navbar > ul > li > a:hover {
  color: crimson;
}

main > .content_container {
  padding: 50px;
  color: #222222;
  text-align: center;
  background:rgba(212, 212, 212, 0.7);
  /* top: 320px; */
  /* right: 0;
  left: 0; */
  border-radius: 4px;
}

/* p {
  margin: 0;
} */

/* @media only screen and (max-width: 612px) {




} */