/*This is a comment. Comments are not displayed in the browser*/
* {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color:#77AAAD;
}

header > .topnav {
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-areas: 
    "personal nav";
  column-gap: 10vw;
  margin: 30px 4vw 0 10vw;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.personal {
  display: flex;
  flex-direction: column;
}

/* Navigationbar */
nav {
  align-self: end;
  border-radius: 4px;
}

ul {
  font-weight: 650;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

ul > li {
  /* Löscht die Listenpunkte & Aufzählungen */
  list-style-type: none;
  padding: 10px 10px 0 10px;
}

nav > ul > li > a {
  text-decoration: none;
  padding: 10px 10px 0 10px;
  color: #353848;
}

/* Profilbild und Name */
.profilbild {
  grid-area: profilepicture;
  width: 140px;
  height: auto;
}

.name {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  color:#ffc952;
  font-size: 18px;
}

main > .content_container {
  padding: 24px;
  position: absolute;
  color: rgb(250, 250, 250);
  text-align: center;
  padding: 50px;
  background:rgba(212, 212, 212, 0.7);
  top: 320px;
  right: 0;
  left: 0;
  margin: 0 10vw 0 10vw;
  border-radius: 4px;
}

/* p {
  margin: 0;
} */