* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

body {
background-color: black;
}

.main_header {
  color: white;
  font-weight: 760;
  text-align: center;
  letter-spacing: 4px;
}

h2 {
  color: white;
  text-align: center;
  letter-spacing: 3px;
}

.picture_1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 320px;
}

.p1 {
  margin-bottom: 5px;
}

.p2 {
  margin-bottom: 40px;
}

ul { 
  list-style-type: none;
  padding: 0;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

a:hover {
  text-decoration: none;
  font-weight: 600;
  color: darkred;
}

.info {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 2%;
  margin-right: 2%;
}